# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

`Normalize column names`

`Normalize Spatial Reference Identifiers`

`Remove unnecessary columns`

In [1]:
# All import statements needed for the project, for example:

import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db

from sqlalchemy.orm import declarative_base

In [2]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"
#API
NYC_DATA_APP_TOKEN = "7WVXOowsS0WkkLbDrSUCynF60"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/resource/"
NYC_DATA_311 = "erm2-nwe9.geojson?$where=created_date between '2022-10-01T00:00:00' and '2023-09-30T23:59:59'&$limit=1000"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "FILL_ME_IN"
DB_USER = "FILL_ME_IN"
DB_URL = f"postgres+psycopg2://{DB_USER}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [3]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [4]:
def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / url_path
    
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")
        
        filename.parent.mkdir(parents=True, exist_ok=True)
        
        response = requests.get(url)
        if response.status_code == 200:
            with open(filename, "w") as f:
                json.dump(response.json(), f)
            print(f"Done downloading {url}.")
        else:
            print(f"Failed to download {url}. Status code: {response.status_code}")

    else:
        print(f"Reading from {filename}...")

    return filename

In [5]:
def load_and_clean_zipcodes(zipcode_datafile):
    raw_zipcodes = gpd.read_file(zipcode_datafile)  # read file
    #pd.set_option('display.max_rows', None)         #display for data cleaning
    raw_zipcodes.dropna(inplace = True)             #drop NaN values
    nyc_zipcodes = raw_zipcodes.drop(['BLDGZIP','URL', 'SHAPE_AREA','ST_FIPS', 'SHAPE_LEN'], axis=1) #drop useless columns 
    return nyc_zipcodes

In [6]:
def download_and_clean_311_data():
    url_311 = BASE_NYC_DATA_URL + NYC_DATA_311
    download_nyc_geojson_data(url_311)
    data2 = gpd.read_file("data/resource/erm2-nwe9.geojson")
    
    #display for data cleaning
    pd.set_option('display.max_rows', None)      
    pd.set_option('display.max_columns', None)
    
    #rename column names
    data2.rename(columns = {'incident_zip': 'zipcode'}, inplace = True)
    
    #drop NaN values
    data2.dropna(subset = ['latitude', 'longitude', 'zipcode'],inplace = True)
    
    #drop unnecessary columns
    data2 = data2.drop(['location_state', 'location_zip', 'location_address', 'location_city'], axis=1)
    
    return data2

In [7]:
def download_and_clean_tree_data():
    url_trees = BASE_NYC_DATA_URL + NYC_DATA_TREES
    download_nyc_geojson_data(url_trees)
    data3 = gpd.read_file("data/resource/5rq2-4hqu.geojson")
    
    #display for data cleaning
    pd.set_option('display.max_rows', None)      
    pd.set_option('display.max_columns', None)
    
    #rename column names
    data3.rename(columns = {'incident_zip': 'zipcode'}, inplace = True)
    
    #drop NaN values
    data3.dropna(subset = ['latitude', 'longitude', 'zipcode'],inplace = True)
    
    #drop unnecessary columns
    data3 = data2.drop(['location_state', 'location_zip', 'location_address', 'location_city'], axis=1)
    
    return data3

In [8]:
def load_and_clean_zillow_data():
    raw_data = pd.read_csv(ZILLOW_DATA_FILE)     #read file
    pd.set_option('display.max_rows', None)        #display for data cleaning
    pd.set_option('display.max_columns', None)
    raw_data.dropna(inplace = True)             #drop NaN values
    zillow_data = raw_data.drop(['RegionType'], axis=1) #drop useless columns
    return raw_data

In [9]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [10]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

Reading from data/resource/erm2-nwe9.geojson...
Reading from data/resource/5rq2-4hqu.geojson...

In [11]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIPCODE     263 non-null    object
 1   PO_NAME     263 non-null    object
 2   POPULATION  263 non-null    float64
 3   AREA        263 non-null    float64
 4   STATE       263 non-null    object
 5   COUNTY      263 non-null    object
 6   CTY_FIPS    263 non-null    object
 7   geometry    263 non-null    geometry
dtypes: float64(2), geometry(1), object(5)
memory usage: 16.6+ KB

In [12]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

,ZIPCODE,PO_NAME,POPULATION,AREA,STATE,COUNTY,CTY_FIPS,geometry
0,11436,Jamaica,18681.0,2.269930e+07,NY,Queens,081,"POLYGON ((1038098.252 188138.380, 1038141.936 ..."
1,11213,Brooklyn,62426.0,2.963100e+07,NY,Kings,047,"POLYGON ((1001613.713 186926.440, 1002314.243 ..."
2,11212,Brooklyn,83866.0,4.197210e+07,NY,Kings,047,"POLYGON ((1011174.276 183696.338, 1011373.584 ..."
3,11225,Brooklyn,56527.0,2.369863e+07,NY,Kings,047,"POLYGON ((995908.365 183617.613, 996522.848 18..."
4,11218,Brooklyn,72280.0,3.686880e+07,NY,Kings,047,"POLYGON ((991997.113 176307.496, 992042.798 17..."

In [13]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   location_state                  978 non-null    object
 1   facility_type                   84 non-null     object
 2   intersection_street_2           580 non-null    object
 3   city                            956 non-null    object
 4   location_zip                    978 non-null    object
 5   park_borough                    1000 non-null   object
 6   latitude                        978 non-null    object
 7   road_ramp                       2 non-null      object
 8   created_date                    1000 non-null   datetime64[ns]
 9   agency                          1000 non-null   object
 10  park_facility_name              1000 non-null   object
 11  location_address                978 non-null    object
 12  agency_name                     1000 non-null   object
 13  descriptor                      1000 non-null   object
 14  bbl                             865 non-null    object
 15  location_city                   978 non-null    object
 16  open_data_channel_type          1000 non-null   object
 17  cross_street_2                  580 non-null    object
 18  bridge_highway_direction        1 non-null      object
 19  longitude                       978 non-null    object
 20  bridge_highway_segment          2 non-null      object
 21  street_name                     939 non-null    object
 22  incident_address                939 non-null    object
 23  address_type                    999 non-null    object
 24  incident_zip                    997 non-null    object
 25  unique_key                      1000 non-null   object
 26  complaint_type                  1000 non-null   object
 27  y_coordinate_state_plane        978 non-null    object
 28  status                          1000 non-null   object
 29  bridge_highway_name             2 non-null      object
 30  location_type                   853 non-null    object
 31  due_date                        0 non-null      object
 32  taxi_company_borough            0 non-null      object
 33  taxi_pick_up_location           1 non-null      object
 34  x_coordinate_state_plane        978 non-null    object
 35  resolution_description          619 non-null    object
 36  community_board                 1000 non-null   object
 37  resolution_action_updated_date  774 non-null    datetime64[ns]
 38  intersection_street_1           579 non-null    object
 39  closed_date                     261 non-null    datetime64[ns]
 40  vehicle_type                    46 non-null     object
 41  cross_street_1                  579 non-null    object
 42  borough                         1000 non-null   object
 43  landmark                        480 non-null    object
 44  geometry                        978 non-null    geometry
dtypes: datetime64[ns](3), geometry(1), object(41)
memory usage: 351.7+ KB

In [14]:
geodf_311_data.head()

,location_state,facility_type,intersection_street_2,city,location_zip,park_borough,latitude,road_ramp,created_date,agency,park_facility_name,location_address,agency_name,descriptor,bbl,location_city,open_data_channel_type,cross_street_2,bridge_highway_direction,longitude,bridge_highway_segment,street_name,incident_address,address_type,incident_zip,unique_key,complaint_type,y_coordinate_state_plane,status,bridge_highway_name,location_type,due_date,taxi_company_borough,taxi_pick_up_location,x_coordinate_state_plane,resolution_description,community_board,resolution_action_updated_date,intersection_street_1,closed_date,vehicle_type,cross_street_1,borough,landmark,geometry
0,,None,None,EAST ELMHURST,,QUEENS,40.75843702556503,None,2023-11-27 12:00:00,DSNY,Unspecified,,Department of Sanitation,Derelict Vehicles,4011510027,,PHONE,32 AVENUE,None,-73.88684933571109,None,81 STREET,31-42 81 STREET,ADDRESS,11370,59551848,Derelict Vehicles,215616,Open,None,Street,None,None,None,1015597,If the abandoned vehicle meets the criteria to...,03 QUEENS,2023-11-27 12:00:00,None,NaT,None,31 AVENUE,QUEENS,None,POINT (-73.88685 40.75844)
1,,None,None,BRONX,,BRONX,40.863974007488046,None,2023-11-27 12:00:00,DSNY,Unspecified,,Department of Sanitation,Derelict Vehicles,2031750015,,PHONE,CRESTON AVENUE,None,-73.89820995792564,None,EAST 191 STREET,50 EAST 191 STREET,ADDRESS,10468,59551851,Derelict Vehicles,254063,Open,None,Street,None,None,None,1012405,If the abandoned vehicle meets the criteria to...,07 BRONX,2023-11-27 12:00:00,None,NaT,None,MORRIS AVENUE,BRONX,None,POINT (-73.89821 40.86397)
2,,N/A,FULTON STREET,BROOKLYN,,BROOKLYN,40.687024872839224,None,2023-11-27 00:56:00,DOT,Unspecified,,Department of Transportation,Controller,None,,UNKNOWN,None,None,-73.97620565382692,None,None,None,INTERSECTION,11217,59551328,Traffic Signal Condition,189579,Open,None,None,None,None,None,990849,None,02 BROOKLYN,NaT,LAFAYETTE AVENUE,NaT,None,None,BROOKLYN,None,POINT (-73.97621 40.68702)
3,,None,None,QUEENS VILLAGE,,QUEENS,40.708826311311675,None,2023-11-27 00:41:00,DSNY,Unspecified,,Department of Sanitation,Adopt-A-Basket,4111130018,,PHONE,None,None,-73.7473847324225,None,HOLLIS AVENUE,210-22 HOLLIS AVENUE,ADDRESS,11429,59554861,Adopt-A-Basket,197622,Assigned,None,Sidewalk,None,None,None,1054286,The Department of Sanitation has sent this com...,13 QUEENS,NaT,None,NaT,None,None,QUEENS,None,POINT (-73.74738 40.70883)
4,,N/A,SENECA AVENUE,BRONX,,BRONX,40.81941934884539,None,2023-11-27 00:34:00,DOT,Unspecified,,Department of Transportation,Controller,None,,UNKNOWN,None,None,-73.88391311273236,None,None,None,INTERSECTION,10474,59553569,Traffic Signal Condition,237835,Open,None,None,None,None,None,1016381,None,02 BRONX,NaT,EDGEWATER ROAD,NaT,None,None,BRONX,None,POINT (-73.88391 40.81942)

In [15]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nta         1000 non-null   object
 1   health      973 non-null    object
 2   zipcode     1000 non-null   object
 3   latitude    1000 non-null   object
 4   nta_name    1000 non-null   object
 5   state       1000 non-null   object
 6   trnk_wire   1000 non-null   object
 7   y_sp        1000 non-null   object
 8   brnch_othe  1000 non-null   object
 9   root_grate  1000 non-null   object
 10  tree_id     1000 non-null   object
 11  steward     973 non-null    object
 12  spc_common  973 non-null    object
 13  trnk_other  1000 non-null   object
 14  x_sp        1000 non-null   object
 15  brnch_ligh  1000 non-null   object
 16  problems    973 non-null    object
 17  longitude   1000 non-null   object
 18  boro_ct     1000 non-null   object
 19  zip_city    1000 non-null   object
 20  spc_latin   973 non-null    object
 21  stump_diam  1000 non-null   object
 22  boroname    1000 non-null   object
 23  st_senate   1000 non-null   object
 24  user_type   1000 non-null   object
 25  status      1000 non-null   object
 26  brnch_shoe  1000 non-null   object
 27  curb_loc    1000 non-null   object
 28  cncldist    1000 non-null   object
 29  guards      973 non-null    object
 30  st_assem    1000 non-null   object
 31  cb_num      1000 non-null   object
 32  address     1000 non-null   object
 33  sidewalk    973 non-null    object
 34  root_other  1000 non-null   object
 35  created_at  1000 non-null   object
 36  borocode    1000 non-null   object
 37  block_id    1000 non-null   object
 38  trnk_light  1000 non-null   object
 39  tree_dbh    1000 non-null   object
 40  root_stone  1000 non-null   object
 41  geometry    1000 non-null   geometry
dtypes: geometry(1), object(41)
memory usage: 328.3+ KB

In [16]:
geodf_tree_data.head()

,nta,health,zipcode,latitude,nta_name,state,trnk_wire,y_sp,brnch_othe,root_grate,tree_id,steward,spc_common,trnk_other,x_sp,brnch_ligh,problems,longitude,boro_ct,zip_city,spc_latin,stump_diam,boroname,st_senate,user_type,status,brnch_shoe,curb_loc,cncldist,guards,st_assem,cb_num,address,sidewalk,root_other,created_at,borocode,block_id,trnk_light,tree_dbh,root_stone,geometry
0,QN17,Fair,11375,40.72309177,Forest Hills,New York,No,202756.768749,No,No,180683,None,red maple,No,1027431.14821,No,None,-73.84421522,4073900,Forest Hills,Acer rubrum,0,Queens,16,TreesCount Staff,Alive,No,OnCurb,29,None,28,406,108-005 70 AVENUE,NoDamage,No,08/27/2015,4,348711,No,3,No,POINT (-73.84422 40.72309)
1,QN49,Fair,11357,40.79411067,Whitestone,New York,No,228644.837379,No,No,200540,None,pin oak,No,1034455.70109,No,Stones,-73.81867946,4097300,Whitestone,Quercus palustris,0,Queens,11,TreesCount Staff,Alive,No,OnCurb,19,None,27,407,147-074 7 AVENUE,Damage,No,09/03/2015,4,315986,No,21,Yes,POINT (-73.81868 40.79411)
2,BK90,Good,11211,40.71758074,East Williamsburg,New York,No,200716.891267,No,No,204026,1or2,honeylocust,No,1001822.83131,No,None,-73.9366077,3044900,Brooklyn,Gleditsia triacanthos var. inermis,0,Brooklyn,18,Volunteer,Alive,No,OnCurb,34,None,50,301,390 MORGAN AVENUE,Damage,No,09/05/2015,3,218365,No,3,No,POINT (-73.93661 40.71758)
3,BK90,Good,11211,40.71353749,East Williamsburg,New York,No,199244.253136,No,No,204337,None,honeylocust,No,1002420.35833,No,Stones,-73.93445616,3044900,Brooklyn,Gleditsia triacanthos var. inermis,0,Brooklyn,18,Volunteer,Alive,No,OnCurb,34,None,53,301,1027 GRAND STREET,Damage,No,09/05/2015,3,217969,No,10,Yes,POINT (-73.93446 40.71354)
4,BK37,Good,11215,40.66677776,Park Slope-Gowanus,New York,No,182202.425999,No,No,189565,None,American linden,No,990913.775046,No,Stones,-73.97597938,3016500,Brooklyn,Tilia americana,0,Brooklyn,21,Volunteer,Alive,No,OnCurb,39,None,44,306,603 6 STREET,Damage,No,08/30/2015,3,223043,No,21,Yes,POINT (-73.97598 40.66678)

In [17]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 585 entries, 0 to 6556
Columns: 114 entries, RegionID to 2023-09-30
dtypes: float64(105), int64(3), object(6)
memory usage: 525.6+ KB

In [18]:
df_zillow_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,2015-11-30,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,2016-10-31,2016-11-30,2016-12-31,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,2017-08-31,2017-09-30,2017-10-31,2017-11-30,2017-12-31,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1606.206406,1612.779844,1622.201575,1630.392427,1632.411500,1636.206864,1644.894632,1643.390762,1636.971443,1620.756709,1613.330035,1595.875303,1587.956334,1571.722899,1580.226011,1577.360511,1575.019249,1570.437252,1560.570981,1559.473860,1550.038637,1532.579831,1510.242213,1486.489733,1507.802059,1533.972404,1560.775400,1560.921517,1569.898260,1578.146822,1578.913743,1567.921730,1577.355514,1590.264504,1606.499320,1604.421318,1611.899807,1618.293318,1621.761808,1617.780728,1614.801931,1615.532634,1611.448067,1601.793861,1590.638710,1590.488945,1594.393947,1598.275260,1604.520456,1610.434841,1621.770680,1625.351916,1626.773326,1625.936662,1624.890088,1633.134397,1625.910897,1629.721928,1626.974655,1636.612419,1640.770934,1647.007094,1651.109647,1657.091010,1649.138584,1645.635867,1637.868714,1649.266605,1662.133844,1665.130638,1674.053593,1679.239150,1688.863037,1690.829750,1692.870693,1713.964591,1744.244031,1792.325270,1827.718052,1856.436987,1872.532636,1884.990347,1910.473392,1917.549543,1930.611286,1926.224851,1936.273593,1950.552503,1975.971322,1999.610405,2023.300973,2024.379276,2018.999370,2006.725802,1990.684558,1994.653463,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1257.814660,1255.268025,1262.170452,1274.955754,1285.526052,1295.665673,1296.650395,1300.868081,1301.898486,1302.881427,1299.693120,1296.038652,1288.469114,1287.887883,1296.983247,1310.096909,1316.314107,1308.568281,1300.912474,1295.072347,1292.669100,1288.731946,1279.219942,1270.826144,1270.159851,1280.804521,1290.962297,1297.787179,1299.429207,1305.319483,1313.028808,1314.471319,1318.936586,1318.360343,1325.904220,1327.061006,1338.242460,1342.947774,1346.339152,1347.977879,1353.781015,1360.934194,1361.964965,1362.711392,1358.947439,1356.220524,1356.988632,1353.259235,1350.062265,1348.472443,1354.870417,1359.648555,1367.652345,1372.060549,1380.044029,1377.192680,1378.572673,1375.046953,1372.524410,1373.553574,1381.286565,1390.962381,1402.096689,1398.546295,1390.275169,1390.301160,1403.523253,1422.490142,1432.232355,1431.127611,1437.327132,1448.187834,1458.760896,1465.848888,1471.032905,1490.807492,1527.079852,1565.896231,1605.220723,1614.231294,1619.765081,1631.133342,1636.650862,1656.262010,1650.745900,1677.114958,1697.240420,1720.421368,1698.930423,1697.851631,1735.015389,1802.088342,1802.928430,1790.160022,1752.950850,1749.697900,1738.217986,1747.305840,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.631140
8,91926,11,77433,zip,TX,TX,Cypress,"Houston-The Woodlands-Sugar Land, TX",Harris County,1332.384333,1328.107408,1334.325290,1342.507107,1343.204774,1349.345048,1357.258039,1377.862795,1382.650750,1379.485511,1365.584430,1357.929173,1360.846132,1366.684548,1389.225796,1388.490370,1386.723306,1367.064826,1365.051491,1365.921041,1370.623726,1370.361718,1356.283315,1343.712242,1345.722269,1367.379600,1377.119661,1376.395612,1377.402137,1385.320464,1394.049473,1400.776672,1408.967268,1425.918300,1429.225949,1435.749821,1432.115725,1449.307218,1462.417161,1462.914145,1452.695847,1441.979411,1444.962996,1446.223413,1451.926952,1450.939967,1434.314959,1434.257268,1435.170142,1449.716804,1441.808233,1451.063463,1466.118678,1484.459748,1487.798849,1478.672517,1476.620734,1481.679765,1480.056281,1480.328477,1477.683121,1485.758222,1503.266601,1510.055903,1511.259567,1499.331580,1501.726864,1516.069858,1535.877398,1546.857859,1569.616503,1578.650090,1587.048897,1565.486811,1551.448397,1567.294993,1603.895410,1661.138453,1705.892260,1747.015986,1776.246834,1783.258710,1796.433151,1810.650491,1823.957359,1825.579352,1825.627213,1842.618103,1861.811499,1872.255160,1891.948620,1905.130186,1889.018620,1879.024616,1879.130383,1881.204550,1885.695935,1884.894986,1880.532012,1870.035369,1863.111029,1892.511066,1922.759295,1945.581823,1975.672556
15,62037,19,11226,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,1944.609891,1971.608676,2044.189151,2061.734126,2076.492259,2057.344849,2075.751863,2089.437276,2124.669751,2129.783498,2123.696717,2102.908461,2103.693980,2106.115059,2149.502921,2168.092538,2184.617943,2223.757471,2271.984811,2297.257283,2261.037949,2227.234959,2232.970691,2228.510041,2233.434422,2232.522594,2249.136188,2239.588967,2244.732511,2270.955099,2292.110932,2293.330919,2281.824590,2264.435844,2231.460575,2220.813034,2231.743724,2265.888690,2289.786060,2312.156803,2327.062004,2338.912023,2354.487077,2373.471918,2379.035920,2366.890927,2355.039782,2334.806173,2333.687721,2329.541922,2352.526958,2349.001291,2369.422441,2374.949695,2401.330579,2425.168160,2441.920454,2430.037397,2391.562408,2362.451694,2384.512151,2387.378650,2420.340438,2410.113131,2418.034628,2400.841365,2401.204020,2376.645611,2343.847604,2310.232731,2279.515950,2230.867432,2193.110733,2202.007790,2232.827318,2268.148717,2295.491739,2328.051544,2370.210546,2387.704337,2419.582532,2418.553033,2431.055877,2428.417753,2460.062614,2501.312449,2538.725511,2576.154240,2614.534359,2670.036996,2701.947286,2711.119803,2718.573198,2728.780470,2721.837723,2695.164727,2680.683700,2676.791284,2697.414702,2706.080701,2726.381017,2753.966159,2770.403005,2785.320137,2762.435713
17,70829,21,30044,zip,GA,GA,Lawrenceville,"Atlanta-Sandy Springs-Alpharetta, GA",Gwinnett County,1157.569878,1168.554459,1173.937503,1176.423247,1180.259047,1183.618022,1193.861072,1193.071896,1207.605914,1212.700299,1224.361826,1219.300206,1209.066802,1209.852054,1214.419194,1216.673222,1230.305780,1244.981653,1261.393689,1271.037615,1274.117540,1274.339331,1273.100207,1284.401271,1293.901969,1291.219714,1288.979264,1308.803624,1327.723236,1342.762576,1347.194914,1339.962451,1336.975777,1334.392065,1352.076997,1360.939124,1375.971868,1375.916830,1377.945027,1371.735601,1384.955961,1395.743087,1409.969608,1418.321985,1434.837280,1436.473928,1434.737968,1435.348162,1444.101707,1452.551301,1452.741977,1459.055711,1473.816327,1482.425316,1479.433289,1480.701590,1481.481268,1478.801885,1483.022853,1489.975935,1500.483040,1483.643168,1479.805212,1482.119999,1497.448450,1517.273667,1583.735402,1604.339265,1625.907786,1608.040481,1615.060884,1624.590127,1641.250120,1687.789422,1710.095220,1740.909783,1756.531835,1799.779283,1828.732022,1871.002438,1900.531762,1939.188422,1965.030975,1978.401278,1985.532409,1984.004495,2023.960258,2016.886272,2051.078953,2057.730382,2093.525846,2095.565693,2096.122270,2101.918613,2083.378931,2125.698496,2113.964250,2170.556028,2160.008767,2191.894968,2181.780560,2161.711011,2117.990720,2119.319392,2055.476496

## Part 2: Storing Data

In [19]:
DATABASE_URL = "postgresql://postgres:password@localhost:5432/DATABASE"

In [20]:
def setup_new_postgis_database(username, db_name, host='localhost', port=5432):
    
    # Create a connection string
    connection_string = f"postgresql://{username}@{host}:{port}/{db_name}"

    # Create an SQLAlchemy engine
    engine = db.create_engine(connection_string)

    # Connect to the database
    connection = engine.connect()

    # Enable the PostGIS extension
    postgis_query = "CREATE EXTENSION IF NOT EXISTS postgis;"
    connection.execute(postgis_query)

    # Close the connection
    connection.close()

# Replace these values with your actual PostgreSQL credentials and database details
DB_USER = "your_username"
DB_NAME = "your_database"

In [21]:
setup_new_postgis_database(DB_USER, DB_NAME)

ModuleNotFoundError: No module named 'psycopg2'

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [ ]:
engine = db.create_engine(DB_URL)

#### Option 1: SQL

In [ ]:
# if using SQL (as opposed to SQLAlchemy), define the SQL statements to create your 4 tables
ZIPCODE_SCHEMA = """
-- Table 1: Zipcodes
CREATE TABLE Zipcodes (
    ZIPCODE INT PRIMARY KEY,
    PO_NAME VARCHAR(255),
    POPULATION FLOAT,
    AREA FLOAT,
    STATE VARCHAR(2),
    COUNTY VARCHAR(255),
    CTY_FIPS VARCHAR(3),
    geometry GEOMETRY(POLYGON)
);
"""

NYC_311_SCHEMA = """
-- Table: 311_data
CREATE TABLE ServiceRequests (
    unique_key INT PRIMARY KEY,
    created_date TIMESTAMP,
    closed_date TIMESTAMP,
    complaint_type VARCHAR(255),
    descriptor VARCHAR(255),
    location_type VARCHAR(255),
    status VARCHAR(255),
    resolution_description TEXT,
    community_board VARCHAR(255),
    borough VARCHAR(255),
    latitude FLOAT,
    longitude FLOAT,
    geometry GEOMETRY(POINT)
);
"""

NYC_TREE_SCHEMA = """
-- Table: Trees_data
CREATE TABLE Trees (
    tree_id INT PRIMARY KEY,
    tree_dbh INT,
    stump_diam INT,
    curb_loc VARCHAR(255),
    status VARCHAR(255),
    health VARCHAR(255),
    spc_common VARCHAR(255),
    spc_latin VARCHAR(255),
    problems VARCHAR(255),
    root_stone VARCHAR(255),
    root_grate VARCHAR(255),
    root_other VARCHAR(255),
    trnk_wire VARCHAR(255),
    trnk_light VARCHAR(255),
    trnk_other VARCHAR(255),
    brnch_ligh VARCHAR(255),
    brnch_shoe VARCHAR(255),
    brnch_othe VARCHAR(255),
    address VARCHAR(255),
    zipcode INT,
    latitude FLOAT,
    longitude FLOAT,
    borocode INT,
    boro_ct INT,
    boroname VARCHAR(255),
    cncldist INT,
    st_assem INT,
    st_senate INT,
    nta VARCHAR(255),
    nta_name VARCHAR(255),
    boro_ct INT,
    state VARCHAR(255),
    latitude FLOAT,
    longitude FLOAT,
    x_sp FLOAT,
    y_sp FLOAT,
    user_type VARCHAR(255),
    created_at DATE,
    block_id INT,
    block_id INT,
    zip_city VARCHAR(255),
    cb_num INT,
    st_assem INT,
    st_senate INT,
    cncldist INT,
    latitude FLOAT,
    longitude FLOAT,
    x_sp FLOAT,
    y_sp FLOAT,
    geometry GEOMETRY(POINT)
);
"""

ZILLOW_SCHEMA = """
CREATE TABLE RealEstateData_Filtered AS
SELECT *
FROM RealEstateData
WHERE date_column >= '2022-10-01' AND date_column <= '2023-09-30'
-- Table: RealEstateData
    RegionID INT PRIMARY KEY,
    SizeRank INT,
    RegionName INT,
    RegionType VARCHAR(255),
    StateName VARCHAR(255),
    State VARCHAR(255),
    City VARCHAR(255),
    Metro VARCHAR(255),
    CountyName VARCHAR(255),
    "2022-10-01" FLOAT,
    "2022-11-01" FLOAT,
    "2022-12-01" FLOAT,
    "2023-01-01" FLOAT,
    "2023-02-01" FLOAT,
    "2023-03-01" FLOAT,
    "2023-04-01" FLOAT,
    "2023-05-01" FLOAT,
    "2023-06-01" FLOAT,
    "2023-07-01" FLOAT,
    "2023-08-01" FLOAT,
    "2023-09-01" FLOAT
);

"""

In [ ]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [ ]:
# If using SQL (as opposed to SQLAlchemy), execute the schema files to create tables
with engine.connect() as connection:
    pass

NameError: name 'engine' is not defined

#### Option 2: SQLAlchemy

In [ ]:
Base = declarative_base()

class Tree(Base):
    __tablename__ = "trees"

    ...

ArgumentError: Mapper Mapper[Tree(trees)] could not assemble any primary key columns for mapped table 'trees'

In [ ]:
Base.metadata.create_all(engine)

NameError: name 'engine' is not defined

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [ ]:
def write_dataframes_to_table(tablename_to_dataframe):
    # write INSERT statements or use pandas/geopandas to write SQL
    raise NotImplemented()

In [ ]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [ ]:
write_dataframes_to_table(tablename_to_dataframe)

#### Option 2: SQLAlchemy

In [ ]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [ ]:
for row in geodf_tree_data.iterrows():
    tree = Tree(...)
    session.add(tree)

In [ ]:
session.commit()

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "FILL_ME_IN"

QUERY_1 = """
FILL_ME_IN
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)